/*
  *** TODO: fill in your header ***
  Mohamed Mohamoud
  03/31/2022
  Section AC Austin Jenchi and Donovan Kong

  This is the my main css style page for my homePage.html page. this is where i insert some color and font into my work
  to make it looks nice.
*/

/*
Navigation bar css code 
*/
nav {
    font-family: "Pacifico";
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: grey;
  }
  header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  header li {
    float: left;
  }
  
  header li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

/*
introduction section css code 
*/

#intro img {
    width: 400px;
    height: 400px;
    border-radius: 50%;
}
#intro, #Pull{
    display: flex;
    flex-direction: row;
    text-align: center;
}
#introsidePanle,#pullsidePanle {
    flex-direction: column;
    margin: 50px;
}
div{
    display: block;
}
#introsidePanle p {
    display: block;
    margin-block-start: 2em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    line-height: 2;
    font-size: 20px;
}

/*
Pull day section css code 
*/
#pullsidePanle{
    text-align:left;
    margin-inline-start: 0px;
    margin-inline-end: 200px;
    line-height: 2;
    font-size: 20px;
}

#Pull img {
    width: 400px;
    height: 300px;
    margin-block-start: 3em;
    border-radius: 50%;
}


/*
main css code for everything else 
*/
p{
   text-align: center; 
}
h3{
    font-size: 20px;
    font-weight: bold;
}
h2{
    font-size: 30px;
    padding: 5px;
    font-weight: bold;
    text-align: center;
}
h1,h2 {
    font-size: 40px;
    text-align: center;
    padding: 10px;
    font-weight: bold;
}
body {
    background-color: black;
    font-family: "Helvetica", sans-serif;
    color: orange;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}