/*
  *** TODO: fill in your header ***
  Mohamed Mohamoud
  03/31/2022
  Section AC Austin Jenchi and Donovan Kong

  This is the my main css style page for my about.html page. this is where i insert some color and font into my work
  to make it looks nice. this is also where the nav bar lay out is going to be for both pages.
*/

/*
  Note: This body rule set is to get you started
*/
 
 
nav {
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-family: "Pacifico";
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: grey;
}
header ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

header li {
  float: left;
}

header li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

body {
  background-color: papayawhip;
  font-family: "Helvetica", sans-serif;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}